@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

/* DEFAULT */
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    position: relative;
}
.nav a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}

.nav h1{
    color: #0e5cac;
}

.nav button{
    color: #fff;
    background-color: #0e5cac;
    border: none;
    border-radius: 19px;
    padding:10px 13px;
}
.nav-center {
    display: flex;
    gap: 30px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

/* MOBILE MENU (hidden by default) */
.mobile-menu {
    display: none;
}

/* HAMBURGER */
.menu-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* MOBILE FIX */
@media (max-width: 768px) {

    .nav-center,
    .nav-right {
        display: none;
    }

    .menu-toggle {
        display: block;
    }

    .mobile-menu {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background: #fff;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 15px;
        padding: 20px 0;

        border-top: 1px solid #eee;

        /* smooth dropdown */
        transform: translateY(-20px);
        opacity: 0;
        pointer-events: none;
        transition: 0.3s;
    }

    .mobile-menu a {
        text-decoration: none;
        color: #333;
        font-size: 16px;
    }

    .mobile-menu button {
        padding: 10px 20px;
        border: none;
        background: #1e3a5f;
        color: #fff;
        border-radius: 5px;
    }

    /* ACTIVE STATE */
    .mobile-menu.active {
        transform: translateY(0);
        opacity: 1;
        pointer-events: all;
    }
}